{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.alert: Items for the highlighted/alert region.
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.postscript: Items for the postscript region, such as related posts.
 * - page.prefooter: Items for the prefooter region, such as the donation message.
 * - page.footer: Items for the footer region.
 * - page.disabled: Items for the disabled region. This will not be printed but only for admin purpose.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if page.sidebar_first and page.sidebar_second %}
    {% set sidebar_class = 'two-sidebars' %}
{% elseif page.sidebar_first %}
    {% set sidebar_class = 'sidebar-first' %}
{% elseif page.sidebar_second %}
    {% set sidebar_class = 'sidebar-second' %}
{% endif %}

<div id="page"{{ attributes.addClass(sidebar_class) }}>
  {% if page.alert %}
    {{ page.alert }}
  {% endif %}

  <header role="banner" id="header" class="clearfix">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="inner-wrapper">
      <a class="logo-link" href="{{ front_page }}">
        <span class="element-invisible">No Kid Hungry Homepage</span>
        <svg version="1.1" id="main-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 237 104.7" class="nkh-logo" xml:space="preserve">
          <g>
            <path class="st0" d="M72.7,98.1h1.6c0.1,0.9,0.8,1.5,2,1.5c1,0,1.8-0.3,1.8-1.1c0-0.8-0.9-1-2.4-1.3c-1.4-0.3-2.8-0.7-2.8-2.6 c0-1.5,1.2-2.5,3.1-2.5c2.3,0,3.3,1.4,3.4,2.7h-1.6c-0.1-0.8-0.7-1.2-1.7-1.2c-0.9,0-1.6,0.3-1.6,1c0,0.7,0.6,0.9,2,1.1 c1.5,0.3,3.2,0.7,3.2,2.8c0,1.6-1.2,2.6-3.3,2.6C74.5,101,72.9,99.9,72.7,98.1z"/>
            <path class="st0" d="M82.3,92.3h1.6v3.5h3.7v-3.5h1.6v8.6h-1.6v-3.7h-3.7v3.7h-1.6V92.3z"/>
            <path class="st0" d="M94.3,92.3H96l3.1,8.6h-1.7l-0.6-1.7h-3.4l-0.6,1.7h-1.7L94.3,92.3z M93.9,97.7h2.4l-1-2.9 c-0.1-0.2-0.2-0.8-0.2-0.8c0,0.1-0.1,0.6-0.2,0.8L93.9,97.7z"/>
            <path class="st0" d="M101.1,92.3h3.8c1.8,0,2.9,0.9,2.9,2.6c0,1-0.5,1.6-1.4,1.9c0.7,0.3,1.1,0.8,1.2,1.9l0.1,1.1 c0,0.5,0.2,0.8,0.3,1.1h-1.7c-0.1-0.2-0.3-0.5-0.3-1l-0.1-1.3c-0.1-0.8-0.4-1.1-1.1-1.1h-2.2v3.4h-1.6V92.3z M105,96.1 c0.8,0,1.3-0.4,1.3-1.2c0-0.8-0.5-1.1-1.3-1.1h-2.2v2.3H105z"/>
            <path class="st0" d="M110.5,92.3h6v1.5h-4.4v1.9h3.7v1.5h-3.7v2.2h4.5v1.5h-6.1V92.3z"/>
            <path class="st0" d="M123.3,96.5c0-2.5,1.8-4.5,4.2-4.5c2.4,0,4.2,2,4.2,4.5c0,2.5-1.8,4.5-4.2,4.5C125.1,101,123.3,99,123.3,96.5z M130.1,96.5c0-1.9-1.1-3-2.5-3c-1.4,0-2.5,1.1-2.5,3c0,1.9,1.1,3,2.5,3C128.9,99.5,130.1,98.5,130.1,96.5z"/>
            <path class="st0" d="M134,97.5v-5.3h1.6v5.3c0,1.3,0.6,1.9,1.7,1.9c1.1,0,1.7-0.7,1.7-1.9v-5.3h1.6v5.3c0,2.1-1.1,3.5-3.3,3.5 C135.1,101,134,99.7,134,97.5z"/>
            <path class="st0" d="M143.2,92.3h3.8c1.8,0,2.9,0.9,2.9,2.6c0,1-0.5,1.6-1.4,1.9c0.7,0.3,1.1,0.8,1.2,1.9l0.1,1.1 c0,0.5,0.2,0.8,0.3,1.1h-1.7c-0.1-0.2-0.3-0.5-0.3-1l-0.1-1.3c-0.1-0.8-0.4-1.1-1.1-1.1h-2.2v3.4h-1.6V92.3z M147,96.1 c0.8,0,1.3-0.4,1.3-1.2c0-0.8-0.5-1.1-1.3-1.1h-2.2v2.3H147z"/>
            <path class="st0" d="M156.9,98.1h1.6c0.1,0.9,0.8,1.5,2,1.5c1,0,1.8-0.3,1.8-1.1c0-0.8-0.9-1-2.4-1.3c-1.4-0.3-2.8-0.7-2.8-2.6 c0-1.5,1.2-2.5,3.1-2.5c2.3,0,3.3,1.4,3.4,2.7h-1.6c-0.1-0.8-0.7-1.2-1.7-1.2c-0.9,0-1.6,0.3-1.6,1c0,0.7,0.6,0.9,2,1.1 c1.5,0.3,3.2,0.7,3.2,2.8c0,1.6-1.2,2.6-3.3,2.6C158.7,101,157.1,99.9,156.9,98.1z"/>
            <path class="st0" d="M167.9,93.7h-2.4v-1.5h6.4v1.5h-2.4v7.1h-1.6V93.7z"/>
            <path class="st0" d="M174,92.3h3.8c1.8,0,2.9,0.9,2.9,2.6c0,1-0.5,1.6-1.4,1.9c0.7,0.3,1.1,0.8,1.2,1.9l0.1,1.1 c0,0.5,0.2,0.8,0.3,1.1h-1.7c-0.1-0.2-0.3-0.5-0.3-1l-0.1-1.3c-0.1-0.8-0.4-1.1-1.1-1.1h-2.2v3.4H174V92.3z M177.8,96.1 c0.8,0,1.3-0.4,1.3-1.2c0-0.8-0.5-1.1-1.3-1.1h-2.2v2.3H177.8z"/>
            <path class="st0" d="M183.3,92.3h6v1.5H185v1.9h3.7v1.5H185v2.2h4.5v1.5h-6.1V92.3z"/>
            <path class="st0" d="M191.8,92.3h1.9l3.6,6.1v-6.1h1.5v8.6h-1.8l-3.6-6.1v6.1h-1.5V92.3z"/>
            <path class="st0" d="M201,96.5c0-2.5,1.8-4.5,4.2-4.5c2.1,0,3.4,1.1,3.8,2.7h-1.8c-0.3-0.7-1-1.3-2.1-1.3c-1.4,0-2.5,1.1-2.5,3 c0,1.9,1.1,3,2.5,3c1.5,0,2.3-0.9,2.5-1.9h-2.3v-1.4h3.8v4.7h-1.5v-1.1c-0.4,0.7-1.4,1.3-2.6,1.3C202.9,101,201,99,201,96.5z"/>
            <path class="st0" d="M213.1,93.7h-2.4v-1.5h6.4v1.5h-2.4v7.1h-1.6V93.7z"/>
            <path class="st0" d="M219.2,92.3h1.6v3.5h3.7v-3.5h1.6v8.6h-1.6v-3.7h-3.7v3.7h-1.6V92.3z"/>
            <path class="st1" d="M57.8,89.7c-1.6-0.9-2-3.9-2.5-5.5c-0.5-1.6-1.2-1.6-1.7-2.4c-0.5-0.9-0.5-1.2-0.5-1.2l-0.9-0.4 c-0.9-0.5-1.5-1.3-1.1-2.9c0.4-1.5,0.1-2.9,0.1-2.9s-1.1-0.5-1.4-1c-0.3-0.6-0.7,0-1.9-2.1c-1.3-2.1,2.4-3.9,3.7-5.4 c1.3-1.5,0.6-3.5,0.6-3.5s-1.1-0.5-1.3-0.8c1.2,0.6,1.2-0.2,1.2-0.2s-0.5-2.7-1.6-4.3c-1.2-1.6-2.9-3-2.7-10.5 c0.2-7.5,10.7-16.7,10.7-16.7h0c0.1-0.7,0.3-1,0.4-1.1c3.3-2.6,6.7-0.2,5.8-1.6c-6-6.1-12.7-2.8-19-7.9C40,14.8,33.8,18,33.8,18 S32.3,6.8,31.5,4.3c-0.9-2.5-2.9-1.7-4.3,1.9c2.6,0.7,3.5,10.6,3.5,10.6s-0.2,2.5-3.5,1.6C12.8,14.5,1.3,24.9,3,25.4 c16.8,5.3,19.5,27.2,19.4,29.5c0,2.3-1.5,3.9-1.6,4.7c-0.1,1.1,0.8,0.8,0.8,0.8c-0.3,0.4-0.8,0.3-0.8,0.3s0,0.5-0.2,2.1 c-0.1,3.7,5.5,8.1,5,10.8c-0.5,2.8-2.8,2.4-4.6,2.7c-0.2,0.5,1.6,2,1.2,3.3c-0.4,1.3-2,1.6-2,1.6s1.3,1.2,1.2,2.5 c0,1.3-1.5,0.9-2.3,1.9c-0.8,1,1.6,5.7-0.4,7.5c-3.4,2.8-7.7-0.8-5.2,2.3c9.7,12,15.2,3.7,22.8,3.7C44.3,99,51.4,106.7,57.8,89.7" />
            <polygon class="st2" points="102.3,54.6 94.2,54.6 79.8,29.5 79.8,54.6 73.1,54.6 73.1,19.3 81.2,19.3 95.5,44.4 95.5,19.3 102.3,19.3  "/>
            <path class="st2" d="M136.9,36.8c0-6.6-4.7-12-10.5-12c-5.8,0-10.5,5.4-10.5,12c0,6.6,4.7,12.1,10.5,12.1 C132.2,48.8,136.9,43.4,136.9,36.8 M143.7,36.8c0,10.3-7.3,18.4-17.2,18.4c-10,0-17.3-8.1-17.3-18.4c0-10.2,7.3-18.4,17.3-18.4 C136.4,18.4,143.7,26.6,143.7,36.8"/>
            <polygon class="st1" points="152.5,42.1 152.5,54.6 148.2,54.6 148.2,19.3 152.5,19.3 152.5,36.5 170.3,19.3 176.3,19.3 161.7,33.3 176.9,54.6 171.5,54.6 158.6,36.3     "/>
              <rect x="182.8" y="19.3" class="st1" width="4.3" height="35.3"/>
            <path class="st1" d="M201.4,23.4v27h8.7c6.5,0,11.6-4,11.6-13.5c0-9.7-5.1-13.5-11.6-13.5H201.4z M197.1,19.3h13.1 c9.8,0,16,6.7,16,17.6c0,10.9-6.3,17.7-16,17.7h-13.1V19.3z"/>
            <polygon class="st2" points="93.8,86.1 89,86.1 89,75.3 78.1,75.3 78.1,86.1 73.2,86.1 73.2,60.6 78.1,60.6 78.1,70.8 89,70.8 89,60.6 93.8,60.6   "/>
            <path class="st2" d="M119.5,76c0,6.5-3.4,10.5-9.8,10.5c-6.4,0-9.8-4-9.8-10.5V60.6h4.8v15.5c0,3.8,1.7,5.7,5,5.7 c3.3,0,5-1.9,5-5.7V60.6h4.9V76z"/>
            <polygon class="st2" points="146.7,86.1 140.8,86.1 130.5,67.9 130.5,86.1 125.6,86.1 125.6,60.6 131.4,60.6 141.8,78.7 141.8,60.6 146.7,60.6   "/>
            <path class="st2" d="M176,86.1h-4.5v-2.7c-1.7,2-4.4,3.2-7.6,3.2c-6.9,0-12.4-5.8-12.4-13.2c0-7.4,5.4-13.3,12.4-13.3 c5.6,0,10,3.2,11.6,8.5h-5.2c-1-2.2-3.4-4.1-6.3-4.1c-4.2,0-7.5,4-7.5,8.9c0,4.8,3.4,8.8,7.7,8.8c3.6,0,6.5-2.5,7.4-5.7h-6.9v-4.5 H176V86.1z"/>
            <path class="st2" d="M193.6,71.9c0.6,0,3.8-0.3,3.8-3.4c0-0.8,0-3.3-3.9-3.3h-6.8v6.8H193.6z M201.5,86.1h-4.8v-6.7 c0-2.2-1-3.2-3.3-3.2h-6.6v9.8h-4.8V60.6h11.6c5.3,0,8.7,2.8,8.7,7.6c0,2.9-1.4,4.8-3.6,5.8c1.8,1,2.8,2.8,2.8,5.4V86.1z"/>
            <polygon class="st2" points="217.6,86.1 212.7,86.1 212.7,76.3 204.2,60.6 209.6,60.6 215.1,71.5 220.7,60.6 226.1,60.6 217.6,76.3  "/>
            <path class="st2" d="M231.4,64.1c-1.6,0-2.8-1.3-2.8-2.8c0-1.6,1.3-2.8,2.8-2.8c1.6,0,2.9,1.3,2.9,2.8
              C234.2,62.8,232.9,64.1,231.4,64.1 M231.4,58.7c-1.4,0-2.5,1.1-2.5,2.6c0,1.4,1.1,2.6,2.5,2.6c1.4,0,2.6-1.1,2.6-2.6 C233.9,59.8,232.8,58.7,231.4,58.7 M232.7,62.8h-0.3l-0.7-1.3h-1v1.3h-0.3v-3.2h1.4c0.6,0,1,0.3,1,0.9c0,0.5-0.3,0.8-0.8,0.9 L232.7,62.8z M231.7,60h-1.1v1.3h1.1c0.3,0,0.7-0.2,0.7-0.6C232.4,60,232,60,231.7,60"/>
          </g>
        </svg>
      </a>

      <button class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="element-invisible">Menu</span>
      </button>
      {{ page.header }}
    </div>
  </header>

  <main role="main" id="main" class="clearfix">
    <div id="content" tabindex="-1">
      {% if is_front %}
        <div class="front_hero">
          <div class="front_hero-section">
            <div class="content-section">
              <h1>
                <span>No</span>
                <span>Kid</span>
                <span>Hungry</span>
              </h1>
              {{ drupal_block('hp_hero__intro') }}
            </div>
          </div>
        </div>
      {% endif %}
      {{ page.content }}
    </div>
  </main>
  {% if page.postscript %}
    {{ page.postscript }}
  {% endif %}

  {% if page.prefooter %}
    {{ page.prefooter }}
  {% endif %}


  {% if page.footer %}
    <footer role="contentinfo" id="footer">
      <div class="inner-wrapper">
        {{ page.footer }}
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 260.4 111.3" class="sos-logo" xml:space="preserve">
          <g>
            <rect fill="#94989e" x="120.9" y="97.1" class="st0" width="1.6" height="9.4"/>
            <polygon fill="#94989e" class="st0" points="61.1,97.1 62.6,97.1 67.4,103.6 67.4,97.1 68.9,97.1 68.9,106.5 67.6,106.5 62.6,99.8 62.6,106.5 61.1,106.5    "/>
            <path fill="#94989e"  class="st0" d="M77.2,101.8L77.2,101.8c0-2.7,1.9-4.9,4.7-4.9c2.8,0,4.7,2.2,4.7,4.8v0c0,2.7-1.9,4.9-4.7,4.9 C79.1,106.6,77.2,104.5,77.2,101.8 M84.9,101.8L84.9,101.8c0-1.9-1.3-3.4-3-3.4c-1.8,0-3,1.5-3,3.3v0c0,1.8,1.3,3.3,3,3.3 C83.7,105.1,84.9,103.6,84.9,101.8"/>
            <polygon fill="#94989e"  class="st0" points="105.1,97.1 106.7,97.1 106.7,101.8 111,97.1 112.9,97.1 109.2,101.1 113.1,106.5 111.2,106.5 108.1,102.2 106.7,103.8 106.7,106.5 105.1,106.5  "/>
            <path fill="#94989e"  class="st0" d="M131.3,97.1h3.3c2.8,0,4.8,2,4.8,4.7v0c0,2.6-1.9,4.7-4.8,4.7h-3.3V97.1z M134.6,105c1.9,0,3.1-1.3,3.1-3.2v0 c0-1.8-1.2-3.2-3.1-3.2h-1.8v6.4H134.6z"/>
            <polygon fill="#94989e"  class="st0" points="157.9,97.1 159.5,97.1 159.5,101 163.8,101 163.8,97.1 165.3,97.1 165.3,106.5 163.8,106.5 163.8,102.5 159.5,102.5 159.5,106.5 157.9,106.5    "/>
            <path fill="#94989e" class="st0" d="M173.9,102.5v-5.4h1.6v5.4c0,1.7,0.9,2.7,2.3,2.7c1.4,0,2.3-0.9,2.3-2.6v-5.4h1.6v5.3c0,2.8-1.5,4.2-3.9,4.2 C175.4,106.6,173.9,105.2,173.9,102.5"/>
            <polygon fill="#94989e" class="st0" points="190.1,97.1 191.6,97.1 196.4,103.6 196.4,97.1 197.9,97.1 197.9,106.5 196.6,106.5 191.7,99.8 191.7,106.5 190.1,106.5  "/>
            <path fill="#94989e" class="st0" d="M206.3,101.8L206.3,101.8c0-2.7,1.9-4.9,4.6-4.9c1.6,0,2.5,0.5,3.4,1.3l-1,1.3c-0.7-0.6-1.4-1-2.5-1 c-1.7,0-2.9,1.5-2.9,3.3v0c0,1.9,1.2,3.4,3,3.4c0.8,0,1.6-0.3,2.2-0.7v-1.8h-2.3v-1.4h3.8v4c-0.9,0.8-2.2,1.5-3.7,1.5 C208.1,106.6,206.3,104.5,206.3,101.8"/>
            <path fill="#94989e" class="st0" d="M223.1,97.1h4c1.1,0,2,0.4,2.6,0.9c0.5,0.5,0.7,1.2,0.7,2v0c0,1.5-0.9,2.5-2.1,2.9l2.4,3.6h-1.9l-2.2-3.3h-2 v3.3h-1.6V97.1z M227,101.7c1.1,0,1.8-0.6,1.8-1.6v0c0-1-0.7-1.6-1.9-1.6h-2.3v3.2H227z"/>
            <polygon fill="#94989e" class="st0" points="241.1,102.8 237.5,97.1 239.4,97.1 241.9,101.2 244.4,97.1 246.2,97.1 242.7,102.7 242.7,106.5 241.1,106.5     "/>
            <path fill="#94989e" class="st0" d="M49.1,77.5c-1.4-0.8-1.8-3.4-2.2-4.9c-0.5-1.5-1-1.4-1.5-2.2c-0.5-0.8-0.5-1.1-0.5-1.1l-0.8-0.4 c-0.8-0.4-1.3-1.2-1-2.6c0.3-1.4,0.1-2.6,0.1-2.6s-1-0.4-1.2-0.9c-0.3-0.5-0.6,0-1.7-1.9c-1.1-1.9,2.1-3.5,3.3-4.8 c1.2-1.3,0.6-3.1,0.6-3.1s-1-0.5-1.2-0.7c1.1,0.5,1.1-0.2,1.1-0.2s-0.4-2.4-1.5-3.8c-1-1.4-2.6-2.7-2.4-9.4 c0.1-6.7,9.6-14.9,9.6-14.9h0c0.1-0.6,0.2-0.9,0.4-1c3-2.3,6-0.1,5.2-1.4c-5.3-5.4-11.3-2.5-17-7c-5.1-4.1-10.6-1.2-10.6-1.2 s-1.3-10-2.1-12.2C24.8-0.9,23-0.3,21.7,3c2.3,0.6,3.1,9.5,3.1,9.5s-0.1,2.2-3.2,1.4c-12.8-3.5-23,5.8-21.5,6.3 c15,4.7,17.4,24.3,17.4,26.3c0,2-1.3,3.5-1.4,4.2c-0.1,1,0.7,0.7,0.7,0.7c-0.3,0.4-0.7,0.3-0.7,0.3s0,0.4-0.2,1.9 c-0.1,3.3,4.9,7.2,4.4,9.7c-0.5,2.5-2.5,2.1-4.1,2.4c-0.2,0.4,1.4,1.8,1.1,2.9c-0.3,1.2-1.8,1.4-1.8,1.4s1.1,1,1.1,2.2 c0,1.2-1.3,0.8-2.1,1.7c-0.7,0.9,1.5,5.1-0.4,6.7c-3,2.5-6.9-0.7-4.7,2c8.6,10.7,13.6,3.3,20.3,3.3C37,85.8,43.3,92.7,49.1,77.5"/>
            <path fill="#94989e" class="st0" d="M61.8,31c0,4.5,4.2,5.9,8.4,6.7c5.6,1.1,6.6,2.4,6.6,4.5c0,2.9-2.5,4.6-6.6,4.6c-3.2,0-6.4-1.7-6.4-5.4v-0.7 h-2.6v0.7c0,5.6,4.7,8.1,9,8.1c5.6,0,9.2-2.9,9.2-7.3c0-4.9-4.3-6.2-8.7-7.1c-5.2-1.1-6.2-2.4-6.2-4.2c0-2.6,2.3-4.2,5.8-4.2 c3.5,0,5.8,1.9,5.8,4.9v0.7h2.7l0-0.7c0-3.7-2.6-7.5-8.4-7.5C65.2,24.2,61.8,26.9,61.8,31"/>
            <polygon fill="#94989e" class="st0" points="101.2,24.7 101.2,35 87.3,35 87.3,24.7 84.6,24.7 84.6,49.1 87.3,49.1 87.3,37.7 101.2,37.7 101.2,49.1 103.8,49.1 103.9,24.7   "/>
            <path fill="#94989e" class="st0" d="M116.8,24.7l-9.3,24.3h2.8c0,0,2.7-7.1,3-7.9h9.2c0.3,0.8,3,7.9,3,7.9h2.8l-9.3-24.3H116.8 M117.9,29.1 c0.9,2.3,3.1,8,3.6,9.4h-7.2C114.9,37.2,117.1,31.4,117.9,29.1"/>
            <path fill="#94989e" class="st0" d="M132.1,24.7v24.3h2.6V38.8h7.8c4.1,0,4.1,2.8,4.1,3.7v3.3c0,1.1,0.2,2,0.5,2.8l0.2,0.4h2.8l-0.4-1 c-0.2-0.6-0.4-1.8-0.4-2.5v-3c0-2.3-0.9-4-2.4-5c1.9-1.2,3.1-3.3,3.1-5.7c0-4.3-3-7-7.5-7H132.1 M142.5,27.4c3.1,0,4.9,1.6,4.9,4.4 c0,3.1-2.4,4.4-4.7,4.4h-7.8v-8.8H142.5z"/>
            <polygon fill="#94989e" class="st0" points="155.4,24.7 155.4,49.1 172,49.1 172,46.4 158,46.4 158,37.7 170.5,37.7 170.5,35 158,35 158,27.4 172,27.4 172,24.7     "/>
            <path fill="#94989e" class="st0" d="M198.7,36.8c0,6.6-5.1,12-11.3,12c-6.2,0-11.3-5.4-11.3-12c0-6.6,5.1-11.9,11.3-11.9
            C193.8,24.9,198.7,30.1,198.7,36.8 M197.5,36.8c0-6-4.4-10.7-10.1-10.7c-5.6,0-10.1,4.8-10.1,10.7c0,5.9,4.5,10.7,10.1,10.7 C193,47.5,197.5,42.7,197.5,36.8"/>
            <path fill="#94989e" class="st0" d="M222,40.2c0,5-3.6,8.6-8.8,8.6c-5.1,0-8.8-3.6-8.8-8.6V25.5h1.2v14.7c0,4.4,3.1,7.4,7.6,7.4 c4.5,0,7.6-3,7.6-7.4V25.5h1.2V40.2"/>
            <path fill="#94989e" class="st0" d="M245.9,48.4h-1.2c-0.3-0.6-0.5-1.4-0.5-2.5v-3.3c0-3.6-2.6-4.4-4.8-4.4h-8.5v10.2h-1.2V25.5h9.6 c4.2,0,6.8,2.4,6.8,6.3c0,2.7-1.5,4.8-3.8,5.7c2,0.8,3.1,2.5,3.1,5v3C245.4,46.5,245.6,47.7,245.9,48.4 M244.8,31.8 c0-3.2-2-5.1-5.6-5.1h-8.4v10.3h8.6C242.1,36.9,244.8,35.3,244.8,31.8"/>
            <path fill="#94989e" class="st0" d="M70.9,83.9c-5.8,0-9.6-3.4-9.6-8.4h3.2c0,3.4,2.6,5.5,6.4,5.5c4.3,0,6.4-1.8,6.4-4.6c0-2.1-0.9-3.6-6.5-4.5 c-5.6-1-8.8-2.7-8.8-7c0-4.3,3.4-7.1,8.8-7.1c5.5,0,8.9,3,8.9,7.8h-3.1c0-2.9-2-4.9-5.8-4.9c-3.9,0-5.7,1.7-5.7,4.1 c0,2.2,1.2,3.3,6.3,4.2c5.5,1.1,8.9,2.6,8.9,7.4C80.4,81.2,76.5,83.9,70.9,83.9"/>
            <polygon fill="#94989e" class="st0" points="93,61.2 93,83.5 89.9,83.5 89.9,61.2 82,61.2 82,58.3 100.9,58.3 100.9,61.2   "/>
            <path fill="#94989e" class="st0" d="M123.3,83.5h-3v-6.2c0-1.6-0.5-3.8-4.3-3.8h-8.1v9.9h-3.1V58.3H116c5.1,0,8.1,3.1,8.1,7.6 c0,2.7-1.3,4.9-3.4,6.1c1.7,1,2.6,2.7,2.6,5.3V83.5 M116.1,70.6c2.8,0,4.9-1.7,4.9-4.6c0-3.2-1.9-4.7-5-4.7h-8v9.3H116.1z"/>
            <polygon fill="#94989e" class="st0" points="147.2,58.3 147.2,61.2 132.3,61.2 132.3,68.9 145.8,68.9 145.8,71.8 132.3,71.8 132.3,80.5 147.2,80.5 147.2,83.5 129.3,83.5 129.3,58.3     "/>
            <polygon fill="#94989e" class="st0" points="172.1,83.5 168.7,83.5 155.2,63 155.2,83.5 152.1,83.5 152.1,58.3 155.5,58.3 169,78.7 169,58.3 172.1,58.3     "/>
            <path fill="#94989e" class="st0" d="M201.6,69.8v13.7h-3v-4.3c-1.8,2.7-5,4.7-9.2,4.7c-6.9,0-12.5-5.9-12.5-13.1c0-7.2,5.6-13.1,12.5-13.1 c5.4,0,9.7,3.2,11.6,8.4h-3.3c-1.6-3.4-4.6-5.4-8.3-5.4c-5.2,0-9.5,4.6-9.5,10.1c0,5.5,4.2,10.1,9.5,10.1c5.4,0,8.7-4,9.2-8.2h-9 v-3H201.6"/>
            <polygon fill="#94989e" class="st0" points="214.3,61.2 214.3,83.5 211.2,83.5 211.2,61.2 203.3,61.2 203.3,58.3 222.2,58.3 222.2,61.2     "/>
            <polygon fill="#94989e" class="st0" points="246,58.3 246,83.5 242.9,83.5 242.9,71.8 229.2,71.8 229.2,83.5 226.1,83.5 226.1,58.3 229.2,58.3 229.2,68.8 242.9,68.8 242.9,58.3     "/>
            <path fill="#94989e" class="st0" d="M252.2,59c-1.7,0-3.2-1.4-3.2-3.2c0-1.8,1.4-3.2,3.2-3.2c1.7,0,3.2,1.4,3.2,3.2C255.4,57.6,253.9,59,252.2,59 M252.2,53c-1.6,0-2.8,1.3-2.8,2.9c0,1.6,1.3,2.9,2.8,2.9c1.6,0,2.9-1.3,2.9-2.9C255,54.3,253.8,53,252.2,53 M253.7,57.6h-0.4 l-0.8-1.5h-1.1v1.5H251v-3.5h1.6c0.7,0,1.1,0.4,1.1,1c0,0.5-0.3,0.9-0.9,1L253.7,57.6z M252.6,54.4h-1.3v1.4h1.3 c0.4,0,0.8-0.2,0.8-0.7C253.4,54.5,252.9,54.4,252.6,54.4"/>
          </g>
        </svg>
      </div>
    </footer>
  {% endif %}

</div>{# /.page #}
