{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded entities.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 *
 * @see nkh_preprocess_entity_embed_container()
 * @see function nkh_preprocess_eck_entity() {
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <a href='{{ landingLink }}' alt='title'>
	  <div class="image-section">
	    {{ landingLinkImage }}
	  </div>
	  <div class="content-section">
	    <p class='landing_title'>
	      <span>{{ landingLinkTitle }}</span>
	    </p>
	    <p class='landing_teaser'>
	      {{ landingLinkTeaser }}
	    </p>
	    <p class='landing_additional'>
	      <span>{{ landingLinkAdditional }}</span>
	    </p>
	  </div>
  </a>
</div>

