<div class="share-this">
  <span class="share-this__label">Share This Post</span>
  <ul class="share-this__list">
    <li class="share-this__list-item">
      <a class="share-link__facebook share-link fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ drupal_token('site:url') }}{{ url }}&amp;src=sdkpreparse"><span class="element-invisible">Facebook</span></a>
    </li>

    <li class="share-this__list-item">
      <a class="share-link__twitter share-link" target="_blank" href="https://www.twitter.com/share?url={{ drupal_token('site:url') }}{{ url }}&amp;text={{ drupal_title() }}&amp;via=nokidhungry">
        <span class="element-invisible">Twitter</span>
      </a>
    </li>
  </ul>
</div>
